html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Images_All_STAR/yoad-shejtman-r0Elo6o_sLU-unsplash.jpg);
  background-size: contain;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  height: 10vh;
  border-bottom: 2px solid whitesmoke;
  margin-left: 5vw;
  margin-right: 5vw;
}
.reseaux{
  display: flex;
  gap: 1vw;
  font-size: 1.7em;
}
.head-1 {
  font-family: "Shadows Into Light",sans-serif;
  font-size: 1.5em;
  color: whitesmoke;
}
.head-2 {
  display: flex;
  gap: 1.5vw;
  font-size: 1.3em;
}
#link-head {
  text-decoration: none;
  padding: 0.5vw;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}
#link-head:hover {
  text-decoration: underline;
}
.calendar {
  margin: 10vw 0 0 6vw;
  height: auto;
  width: 50vw;
  padding: 1vw;
  font-family: "Anton",sans-serif;
  text-decoration: underline red;
  font-size: 1.5em;
  color: whitesmoke;
}
.section-main {
  background-color: whitesmoke;
  border-radius: 25px;
  margin: 0 5vw 3vw 5vw;
  padding: 5vw;
}
.section-main p {
  font-family: sans-serif;
}
.event-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  height: 27vh;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  background-image: url(Images_All_STAR/edgar-chaparro-kB5DnieBLtM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgb(96, 79, 79);
}
.event-1-2 {
  display: flex;
  flex-direction: column;
  color: rgb(209, 46, 46);
  gap: 3vw;
}
#event-1-2 {
  display: flex;
  align-self: center;
}
.event-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  margin-top: 5vw;
  height: 27vh;
  color: whitesmoke;
  background-image: url(Images_All_STAR/edgar-chaparro-kB5DnieBLtM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgb(96, 79, 79);
}
.event-2-2 {
  display: flex;
  flex-direction: column;
  color: rgb(209, 46, 46);
  gap: 3vw;
}
#event-2-2 {
  display: flex;
  align-self: center;
}
.event-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: verdana;
  border-radius: 15px;
  margin-top: 5vw;
  height: 27vh;
  color: whitesmoke;
  background-image: url(Images_All_STAR/edgar-chaparro-kB5DnieBLtM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgb(96, 79, 79);
}
.event-3-2 {
  display: flex;
  flex-direction: column;
  color: rgb(209, 46, 46);
  gap: 3vw;
}
#event-3-2 {
  display: flex;
  align-self: center;
}
.event-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  margin-top: 5vw;
  height: 27vh;
  color: whitesmoke;
  background-image: url(Images_All_STAR/edgar-chaparro-kB5DnieBLtM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgb(96, 79, 79);
}
.event-4-2 {
  display: flex;
  flex-direction: column;
  color: rgb(209, 46, 46);
  gap: 3vw;
}
#event-4-2 {
  display: flex;
  align-self: center;
}
#arrow{
  color: white;
  position: relative;
  left: 90vw;
  top: 3vw;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Anton", sans-serif;
  height: 30vh;
  /* width: 100%; */
  margin-top: 20vh;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  margin-left: 5vw;
  margin-right: 5vw;
}
.follow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1.5vw;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: whitesmoke;
}
.mentions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#follow {
  text-decoration: none;
  color: whitesmoke;
}
#contact {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5em;
}
#mentions {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Anton", sans-serif;
}
.Copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 1vw 0 1vw 0;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  
  header {
    height: auto;
  }

  .head-1 {
    font-size: 1.3em;
  }

  .head-2 {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    font-weight:bold ;
  }

  .calendar h1 {
    margin-top: 5vh;
    font-size: 1.6em;
  }

  .event-1, .event-2, .event-3, .event-4 {
    text-align: center;
  }

  h2 {
    font-size: 0.8em;
  }

  .head-title {
    margin-top: 13vh;
    font-size: 1.1em;
    width: auto;
  }

  .reseaux{
    display: none;
  }

  #arrow{
    font-size: 1.5em;
  }

  .footer {
    font-size: 0.7em;
    height: 20vh;
  }

  #contact {
    font-size: 1em;
  }

  .Copyright{
    font-size: 0.7em;
  }
}